<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
    <body>
        <%- include('partials/header') %>
        <%- include('partials/search') %>
        <main>
            <section class="profile-detail">
                <h1>Bienvenido, <%= user.user_username %></h1>
                <h1>DATOS DEL USUARIO</h1>
            
                <div class="product-page">
                    <h2>Nombre: <%= user.user_fullname %></h2>
                    <h2>Usuario: <%= user.user_username %></h2>
                    <h2>E-mail: <%= user.user_email %></h2>
                    <img src="/images/<%= user.user_image %>" alt="<%= user.user_fullname %>">
                </div>
                        
                <div class="botones">
                    <a href="/users/edituser/<%=user.user_id %>" class="buttonDecoration secondary">EDITAR DATOS</a>
                    <a href="/users/userlist" class="buttonDecoration secondary">Panel de control</a>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>

